extends ../share/layout
block content
  section.content-header
    h1.page-header= pageHeader
   section.content
      div.row
        div.col-xs-12
          div.box
            div.box-header
              h3.box-title Danh Sách User Đã Đăng Kí
            div.box-body
              table.table.table-bordered.table-striped#usersTable
                thead
                  tr
                    th Hình Chụp
                    th Tên 
                    th Số Điện Thoại 
                    th Thời Gian
                    th Hành Động 
                tbody
                  for user in users
                    tr
                      td
                        img(class="attachment-img" src="./images/user_images/#{user.phone_number}/main.jpeg" alt="Attachment Image" height="30%" id='attachment-image' title="Attachment Image")
                      td #{user.name}
                      td #{user.phone_number}
                      td #{Math.floor((new Date() - user.created_at) / (1000 * 60 * 60 * 24))} days ago
                      td 
                        .btn-group
                          .pull-left
                            a(role="button" class="btn btn-default tablebtn" href="/users/#{user._id}") Update
                          .pull-right
                            form(class="form-horizontal",method="POST",action="/users/delete")
                              input(type="hidden" name="id" value=user._id)
                              button(type="submit" class="btn btn-danger tablebtn") Delete